body{   
    display: grid;
    grid-template-areas:    'verdinho verdinho verdinho'
                            'img img img'
                            'branco branco branco'
                            'cinza cinza cinza'
                            'fotos fotos fotos'
                            'social social social'
                            'footer footer footer';
    grid-template-rows: 1vh 56vh 18vh 25vh 13vh 13vh 12vh;
    grid-template-columns: 33vw 33vw 33vw;
}

.verdinho {
    grid-area: verdinho;
    background-color: #5ca32f;
}

.img{
    grid-area: img;
    background-color:blue;
    background-image: url(:img/banner.png);
    padding: 30px;
}

.img h1{ 
    font-family: 'Pacifico', cursive;
    font-size: 50pt;
    color:white;
}

.img h1, h3{
    margin-left: 60px;
}

span{
    color: #5ca32f;
}

.hand{ 
   margin-left: 1050px;
   position: relative;
   top: -237px; 
}

.img h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.icons{
    position: relative;
}

.branco {
    grid-area: branco;
    background-color: black;
}

.cinza{ 
    grid-area: cinza;
    background-color: #d5d8de;
}

.cinza h2, h4{
    margin-left: 60px;
}

.input{
    font-family: 'Raleway', sans-serif;
    
}

.cadastro{
    border-radius: 60px;
    width: 200px;
    height: 40px;
    margin-left: 60px;
}

.botao{
    background-color: #5ca32f;
    color: white;
    width: 70px;
    height:40px;
}

.textofotos{
    grid-area:fotos;
    height: 60px;
}

.socialmedia{
    grid-area: social;
    background-color: greenyellow;
}

footer{
    grid-area:footer;
    background-color:#d5d8de;
}

footer a{
    text-decoration: none;
    color: #5d5f63;
    padding:10px;
    font-size: 15pt;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: inline-block;
    line-height: normal;
    vertical-align:middle;
    font-family: 'Raleway', sans-serif;
}