body{   
    display: grid;
    grid-template-areas:    'verdinho verdinho verdinho'
                            'img img img'
                            'branco branco branco'
                            'cinza cinza cinza'
                            'fotos fotos fotos'
                            'social social social'
                            'footer footer footer';
    grid-template-rows: 1vh 56vh 20vh 25vh 13vh 19vh 10vh;
    grid-template-columns: 33vw 33vw 33vw;
}

.verdinho {
    grid-area: verdinho;
    background-color: #5ca32f;
}

.img{
    grid-area: img;
    background-size:cover;
    background-image: url(img/banner.png);
    padding: 30px;
}

.img h1{ 
    font-family: 'Pacifico', cursive;
    font-size: 50pt;
    color:white;
}

.img h1, h3{
    margin-left: 60px;
}

span{
    color: #5ca32f;
}

.hand { 
   margin-left: 600px;
   margin-right: 500px;
   position: relative;
   top: -237px; 
}

.img h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.icons{
        width: 60px;
        height: 60px;
        background-color: black;
        opacity: 0.7;
        border-radius: 50%;
        display: inline-flex;
        margin: 10px;
}


.video { 
    margin-left: 800px;
    margin-right: 500px;
    position: relative;
    top: -180px;
    
}

.branco {
    grid-area: branco;
   justify-content: center;
   font-family: 'Raleway', sans-serif;
   display: grid;
   grid-template-areas: 'b1 b2 b3';
   grid-template-columns: 33% 33% 33%;
   text-align: center;
}

.iconb{
    background-color: #5ca32f;
    border-radius: 50%;
}

.b1{ 
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3{ 
    grid-area: b3;
}

.branco h4{
    color:grey;
}
.cinza{ 
    grid-area: cinza;
    background-color: #d5d8de;
    font-family: 'Raleway', sans-serif;

}

.cinza h2, h4{
    margin-left: 60px;
}

.cinza h4{
    color: grey;
}

.input{
    font-family: 'Raleway', sans-serif;
    
}

.cadastro{
    border-radius: 60px;
    width: 200px;
    height: 40px;
    margin-left: 60px;
}

.botao{
    background-color: #5ca32f;
    color: white;
    width: 70px;
    height:40px;
    font-size:15pt;
    border-radius:10%;
}
::placeholder{
    font-size: 15pt;
    color: lightslategray;
    text-align:center;
}
.textofotos{
    grid-area:fotos;
    height: 60px;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.textofotos h4{
    font-style: italic;
    color: grey;
}

.textofotos p{
    font-weight: bold;
}
.textofotos img {
    height: 32px;
    width: 32px;
}

.fotos:hover{ 
    filter: blur(80%);
    padding: 2px;
}
.socialmedia{
    grid-area: social;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.botoessocial:hover{
    padding: 5px;
}

.socialmedia h1 {


}

footer{
    grid-area:footer;
    background-color:#d5d8de;
   text-align: center;
}

footer a{
    text-decoration: none;
    color: #5d5f63;
    padding:30px;
    vertical-align:middle;
    display: inline-block;
    line-height: normal;
    font-family: 'Raleway', sans-serif;
}